.about-us
    h2#about-text About The Creators
    .team-member-container
        p Yassine Cherradi
        .team-member-links
            a.link-btn(href="https://www.linkedin.com/in/robertdaraban/")
                i(class="fab fa-linkedin-in")
            a.link-btn(href="https://github.com/ycherradi")
                i(class="fab fa-github")
    .team-member-container
        p Rob Daraban
        .team-member-links
            a.link-btn(href="https://www.linkedin.com/in/robertdaraban/")
                i(class="fab fa-linkedin-in")
            a.link-btn(href="https://github.com/darabandev")
                i(class="fab fa-github")
    .team-member-container
        p William Vincent
        .team-member-links
            a.link-btn(href="https://www.linkedin.com/in/robertdaraban/")
                i(class="fab fa-linkedin-in")
            a.link-btn(href="https://github.com/WJVincent")
                i(class="fab fa-github")
    .team-member-container
        p Jon Wehner
        .team-member-links
            a.link-btn(href="https://www.linkedin.com/in/robertdaraban/")
                i(class="fab fa-linkedin-in")
            a.link-btn(href="https://github.com/jon-wehner/")
                i(class="fab fa-github")