.about-us
    .team-member-container
    p Yassine Cherradi
    .team-member-links
        a(href="https://www.linkedin.com/in/robertdaraban/")
            i(class="fab fa-linkedin-in")
        a(href="https://github.com/ycherradi")
            i(class="fab fa-github")
    p Rob Daraban
    .team-member-links
        a(href="https://www.linkedin.com/in/robertdaraban/")
            i(class="fab fa-linkedin-in")
        a(href="https://github.com/darabandev")
            i(class="fab fa-github")
    p William Vincent
    .team-member-links
        a(href="https://www.linkedin.com/in/robertdaraban/")
            i(class="fab fa-linkedin-in")
        a(href="https://github.com/WJVincen")
            i(class="fab fa-github")
    p Jon Wehner
    .team-member-links
        a(href="https://www.linkedin.com/in/robertdaraban/")
            i(class="fab fa-linkedin-in")
        a(href="https://github.com/jon-wehner/")
            i(class="fab fa-github")