form.hidden-form.task-area-forms.form#editGroup(action="" method="POST")
  h3 Edit Group
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input#groupName(name="name" type="text" value="")
    button.submit-btn(type="submit") Update Group

form.hidden-form.task-area-forms.form#editProject(action="" method="POST")
  h3 Edit Project
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="projectNameField")
    .form-item
      label(for="description") Description:
      input(type="textarea" name="description")
    .form-item
      label(for="deadline")
      input(type="date" name="deadline")
    .form-item
      label(for="category")
      select(name="categoryId")
        each category in categories
          option(value=category.id)= category.name
    button.submit-btn(type="submit") Update Project

form.hidden-form.task-area-forms.form#addEditTask(action="" method="POST")
  h3 Task Information
  .form-container
    input(type="hidden" name="_csrf" value=token)
    .form-item
      label(for="name") Name:
      input(name="name" value="" id="taskNameField")
    .form-item
      label(for="deadline") Date:
      input(type="date" id="taskDate" value="")
    .form-item
      label(for="importance")
      select(name="importance")
        option(value="High") High
        option(value="Medium") Medium
        option(value="Low") Low
    .form-item
      label(for="isComplete") Completed?
      input(type="checkbox" id="taskComplete")
    button.submit-btn(type="submit") Submit Task
