form.hidden-form.task-area-forms#editGroup(action="" method="POST")
  h3 Edit Group
  div
    input(type="hidden" name="_csrf" value=token)
    label(for="name") Name:
    input#groupName(name="name" type="text" value="")
  input(type="submit" value="Update Group")

form.hidden-form.task-area-forms#editProject(action="" method="POST")
  h3 Edit Project
  div
    input(type="hidden" name="_csrf" value=token)
    label(for="name") Name:
    input(name="name" value="" id="projectNameField")
    label(for="description") Description:
    input(type="textarea" name="description")
    label(for="deadline")
    input(type="date" name="deadline")
    label(for="category")
    select(name="categoryId")
      each category in categories
        option(value=category.name)= category.name
    input(type="submit" value="Update Group")
