extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="./public/stylesheets/index.css")
  //- add page specific js
  script(src="./public/javascripts/task.js" type="module" defer)
  script(src="./public/javascripts/accordion.js" type="module" defer)

block content
  div(class="container")
    div(class="user-sidebar")
      div(class="user-corner")
        h2 BluePrint
        p Welcome, Rob
      div(class="nav-area")
        //- In the future we will loop through projects from db
        ul
          li Project 1
          li Project 2
          li Project 3
        ul
          li Group 1
          li Group 2
          li Group 3
        div(class="projects-area")
          div(class="search")
            input(id="searchbar" type="text" placeholder="Search")
            button(type="submit" id="search-btn")
              i(class="fa fa-search")
        div(class="accordion-area")
          button(class="accordion") Shopping List
          div(class="panel")
            ul
              //- Eventually we will loop through through tasks here
              li(class="project-task-list-item") Buy Milk
              li(class="project-task-list-item") Buy Eggs
              li(class="project-task-list-item") Buy Cereal
          button(class="accordion") Around the House
          div(class="panel")
            ul
              //- Eventually we will loop through through tasks here
              li(class="project-task-list-item") Fix the roof
              li(class="project-task-list-item") Change garage lightbulb
              li(class="project-task-list-item") Clean the basement
          button(class="accordion") Work Project
          div(class="panel")
            ul
              //- Eventually we will loop through through tasks here
              li(class="project-task-list-item") Go golfing with boss
              li(class="project-task-list-item") Let Boss win
              li(class="project-task-list-item") Make fun of Steve in Accounting
          div(class="tasks-area")
            p Select a task to edit.



