doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="https://use.fontawesome.com/0453bb39dc.js")
  body
    block content
