extends layout

append head
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
    link(rel="icon" href="/images/bp-logo.jpg")
    link(rel='stylesheet' href='/stylesheets/logged-out.css')

block content
    .container
        .registration-box
            .nice-image
                img(src="/images/bp-logo.jpg" id="logo" alt="logo")
                div
                    h1
                        span.blue b
                        | lue
                        span.blue p
                        | rint
                    h2 Plan Your Success
            .registration-form
                p.select-login-or-signup
                    span.active-selection.signup-text Sign Up
                    span.active-selection /
                    span.inactive-selection.login-text Login
                if errors
                    .error-display
                        p
                            strong#err-text Please review the following errors:
                        ul.error-list
                        each error in errors
                            li= error
                form.form(id="form" action="/users/signup" method="POST")
                    input(type="hidden" name="_csrf" value= token)
                    .form-container
                        .form-item
                            label(for="username") Username:
                            input(type="text" name="username")
                        .form-item
                            label(for="email") Email:
                            input(type="email" name="email")
                        .form-item
                            label(for="password") Password:
                            input(type="password" name="password")
                        .form-item
                            label(for="confirmPassword") Confirm Password:
                            input(type="password" name="confirmPassword")
                    button.submit-btn(type="submit") Create Account
    script(src="/javascripts/login.js")
