extends layout

append head
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet")
    link(rel="icon" href="/images/bp-logo.jpg")
    link(rel='stylesheet' href='/stylesheets/logged-out.css')
    script(src="/javascripts/login.js" defer)

block content
    .container
        .registration-box
            .nice-image
                img(src="/images/bp-logo.jpg" id="logo" alt="logo")
                div
                    h1
                        span.blue b
                        | lue
                        span.blue p
                        | rint
                    h2 Plan Your Success
            .registration-form
                p.select-login-or-signup
                    span.active-selection.signup-text Sign Up
                    span.active-selection /
                    span.inactive-selection.login-text Login
                if errors
                    .error-display
                        p
                            strong#err-text Please review the following errors:
                        ul.error-list
                        each error in errors
                            li= error
                include ./auth-forms.pug
                button.submit-btn.hidden(id="demo-login-btn"): a(href="/users/demo") Demo User
