.hidden-form.task-area-forms(id="project-details")
    div(id="project-category")
        p#project-category-p
    div(id="project-description")
        p#project-description-p
    div(id="project-deadline")
        p#project-deadline-p
    div(id="project-task-summary")
        p#project-task-summary-p
