* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.user-sidebar {
  width: 20%;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  background: #4a6de5;
  color: white;
  box-shadow: 2px 0 3px #000;
  z-index: 2;
}

.user-corner {
  flex-grow: 1;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 5px;
}

.logo {
  display: inline-block;
  color: #4a6de5;
  background-color: white;
  font-size: 40px;
  border-radius: 10px;
  user-select: none;
  padding: 0 2px;
}

.nav-area {
  flex-grow: 4;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.nav-area ul {
  margin: 10px 10px 10px 20px;
  list-style-type: none;
}

.projects-area {
  width: 40%;
  border-right: 1px solid darkgray;
}

.search {
  display: flex;
  border-bottom: 2px solid darkgray;
}
.task-table {
  width: 100%;
  text-align: left;
}
th {
  text-align: left;
  padding: 10px 5px;
}
.task-table thead {
  width: 100%;
}
.task-table td,
tr {
  padding: 10px 5px;
  margin: 10px;
}
.accordion-button-container {
  display: inline;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
}

.hidden-form {
  display: none;
}

.hidden {
  display: none;
}

.list-group {
  display: block;
}

#groupList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.group-line li {
  word-wrap: wrap;
  max-width: 150px;
}

.group-delete-btn {
  background-color: #f52116;
  padding: 3px 4px;
  border-radius: 2px;
}

.task-delete-btn {
  display: inline;
  border-radius: 5px;
  padding: 3px;
  background: #f52116;
  color: white;
}

.project-task-list-item {
  display: inline;
  width: fit-content;
  margin-bottom: 10px;
}

.task-delete-btn,
.group-edit-btn,
.group-delete-btn,
.btn {
  display: inline-block;
  margin-left: 10px;
}
.project-task-list-item,
.task-delete-btn,
.group-edit-btn,
.btn:hover {
  cursor: pointer;
}

.search-results {
  display: none;
}

#searchbar {
  width: calc(100% - 20px);
  height: 30px;
  border: 0;

  font-size: 18px;
  line-height: 18px;
  padding-left: 10px;
}

#searchbar:focus {
  outline: none;
}

#search-btn {
  width: 20px;
  height: 30px;
  border: 0;
  /* border-bottom: 1px solid darkgray; */
  background-color: white;
  float: right;
}

#search-btn:focus,
#search-btn:active {
  outline: none;
}
#group-list {
  display: flex;
}
.group-list-item-container {
  display: flex;
  justify-content: space-between;
}
.group-list-item {
}
#search-btn:hover {
  cursor: pointer;
}

.tasks-area {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-container {
  border: 1px solid red;
  background-color: rgb(243, 193, 193);
  color: red;
  border-radius: 5px;
  width: fit-content;
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.error-container ul {
  padding-left: 15px;
  margin-top: 5px;
}

input[type="radio"] {
  display: inline;
}

/*============================================*/

.accordion-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion:first-child {
  margin-top: 20px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 20px;
  width: 95%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  width: 95%;
  overflow: hidden;
}
