* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../background.jpg");
  background-size: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-box {
  background-color: white;
  box-shadow: 3px 3px 3px #000;
  width: 900px;
  height: 600px;
  border-radius: 10px;
  display: flex;
}

.nice-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../splash-2.jpg");
  height: 100%;
  width: 33%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: max-content;
  border-radius: 50%;
  margin-bottom: 50px;
}

.nice-image h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 40px;
}

.blue {
  color: #4a6de5;
  font-size: 40px;
  font-weight: 600;
}

.nice-image h2 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 20px;
}

.active-selection {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s;
}

.registration-form {
  width: 66%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #4a6de5;
}

.select-login-or-signup {
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
}

.inactive-selection {
  transition: 0.2s;
  line-height: 25px;
  height: 25px;
  cursor: pointer;
}

.inactive-selection:hover {
  border-bottom: 3px solid #4a6de5;
}

.submit-btn {
  border: 2px solid #4a6de5;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  color: #4a6de5;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.submit-btn:hover {
  background-color: #4a6de5;
  color: rgb(255, 255, 246);
}

.error-display {
  border: 1px solid red;
  background-color: rgb(243, 193, 193);
  color: red;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.error-list {
  margin-top: 8px;
}

#demo-login-btn {
  margin-top: 10px;
}

#demo-login-btn a {
  font-size: 14px;
  text-decoration: none;
}

#demo-btn:hover {
  background-color: #4a6de5;
  color: rgb(255, 255, 246);
}

.hidden {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .registration-box {
    width: 100%;
    border-radius: 0;
  }

  .nice-image {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
