<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/bp-logo.jpg" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="logged-out.css" />
    <title>BluePrint</title>
  </head>
  <body>
    <div class="container">
      <div class="registration-box">
        <div class="nice-image">
          <img src="images/bp-logo.jpg" id="logo" alt="logo" />
          <div>
            <h1><span class="blue">b</span>lue<span class="blue">p</span>rint</h1>
            <h2>Plan Your Success</h2>
          </div>
        </div>
        <div class="registration-form">
          <p class="login-text"><strong>Sign Up</strong> / <span class="not-active-selection">Login</span></p>
          <form class="form">
            <div class="form-item">
              <label for="name">Username:</label>
              <input type="text" name="name" />
            </div>
            <div class="form-item">
              <label for="email">Email:</label>
              <input type="email" name="email" />
            </div>
            <div class="form-item">
              <label for="password">Password:</label>
              <input type="password" name="password" />
            </div>
            <div class="form-item">
              <label for="password">Confirm Password:</label>
              <input type="password" name="password" />
            </div>
            <button type="submit">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
